@page
@model WebCafebookApi.Pages.Account.DangXuatModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Bạn đã đăng xuất thành công.</p>
    <a asp-page="/TrangChuView">Quay lại Trang Chủ</a>
</header>