USE [master]
GO
/****** Object:  Database [CafebookDB]    Script Date: 07/04/2026 12:34:35 ******/
CREATE DATABASE [CafebookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafebookDB', FILENAME = N'E:\Tai Lieu Hoc Tap\N19 KLTN 032026\Cafebook\DatabaseCafebook\CafebookDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafebookDB_log', FILENAME = N'E:\Tai Lieu Hoc Tap\N19 KLTN 032026\Cafebook\DatabaseCafebook\CafebookDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafebookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafebookDB]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[idBan] [int] IDENTITY(1,1) NOT NULL,
	[soBan] [nvarchar](50) NOT NULL,
	[soGhe] [int] NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](500) NULL,
	[idKhuVuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[idChamCong] [int] IDENTITY(1,1) NOT NULL,
	[idLichLamViec] [int] NOT NULL,
	[gioVao] [datetime] NULL,
	[gioRa] [datetime] NULL,
	[soGioLam]  AS (datediff(minute,[gioVao],[gioRa])/(60.0)),
PRIMARY KEY CLUSTERED 
(
	[idChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaiDat]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaiDat](
	[tenCaiDat] [nvarchar](100) NOT NULL,
	[giaTri] [nvarchar](max) NOT NULL,
	[moTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[tenCaiDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[idCa] [int] IDENTITY(1,1) NOT NULL,
	[tenCa] [nvarchar](100) NOT NULL,
	[gioBatDau] [time](7) NOT NULL,
	[gioKetThuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLichSu]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLichSu](
	[idChat] [bigint] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NULL,
	[idNhanVien] [int] NULL,
	[NoiDungHoi] [ntext] NOT NULL,
	[NoiDungTraLoi] [ntext] NOT NULL,
	[ThoiGian] [datetime] NULL,
	[LoaiChat] [nvarchar](50) NULL,
	[LoaiTinNhan] [nvarchar](20) NULL,
	[IdThongBaoHoTro] [int] NULL,
	[GuestSessionId] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[idChiTietHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[idHoaDon] [int] NOT NULL,
	[idSanPham] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
	[thanhTien]  AS ([soLuong]*[donGia]),
	[ghiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietKiemKho]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKiemKho](
	[idPhieuKiemKho] [int] NOT NULL,
	[idNguyenLieu] [int] NOT NULL,
	[TonKhoHeThong] [decimal](18, 2) NOT NULL,
	[TonKhoThucTe] [decimal](18, 2) NOT NULL,
	[ChenhLech]  AS ([TonKhoThucTe]-[TonKhoHeThong]),
	[LyDoChenhLech] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuKiemKho] ASC,
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[idPhieuNhapKho] [int] NOT NULL,
	[idNguyenLieu] [int] NOT NULL,
	[soLuongNhap] [decimal](18, 2) NOT NULL,
	[donGiaNhap] [decimal](18, 2) NOT NULL,
	[thanhTien]  AS ([soLuongNhap]*[donGiaNhap]),
PRIMARY KEY CLUSTERED 
(
	[idPhieuNhapKho] ASC,
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuThue]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuThue](
	[idPhieuThueSach] [int] NOT NULL,
	[idSach] [int] NOT NULL,
	[ngayHenTra] [datetime] NOT NULL,
	[ngayTraThucTe] [datetime] NULL,
	[tienCoc] [decimal](18, 2) NOT NULL,
	[TienPhatTraTre] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuThueSach] ASC,
	[idSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuTra]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuTra](
	[IdPhieuTra] [int] NOT NULL,
	[IdSach] [int] NOT NULL,
	[TienPhat] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPhieuTra] ASC,
	[IdSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhuThuHoaDon]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhuThuHoaDon](
	[idHoaDon] [int] NOT NULL,
	[idPhuThu] [int] NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC,
	[idPhuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietXuatHuy]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietXuatHuy](
	[idPhieuXuatHuy] [int] NOT NULL,
	[idNguyenLieu] [int] NOT NULL,
	[SoLuong] [decimal](18, 2) NOT NULL,
	[DonGiaVon] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGiaVon]),
PRIMARY KEY CLUSTERED 
(
	[idPhieuXuatHuy] ASC,
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[idDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[idSanPham] [int] NULL,
	[idHoaDon] [int] NOT NULL,
	[SoSao] [int] NOT NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[HinhAnhURL] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[idDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[idDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[tenDanhMuc] [nvarchar](255) NOT NULL,
	[idDanhMucCha] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeXuatSach]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeXuatSach](
	[idSachGoc] [int] NOT NULL,
	[idSachDeXuat] [int] NOT NULL,
	[DoLienQuan] [float] NOT NULL,
	[LoaiDeXuat] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSachGoc] ASC,
	[idSachDeXuat] ASC,
	[LoaiDeXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeXuatSanPham]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeXuatSanPham](
	[idSanPhamGoc] [int] NOT NULL,
	[idSanPhamDeXuat] [int] NOT NULL,
	[DoLienQuan] [float] NOT NULL,
	[LoaiDeXuat] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSanPhamGoc] ASC,
	[idSanPhamDeXuat] ASC,
	[LoaiDeXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhLuong]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhLuong](
	[idSanPham] [int] NOT NULL,
	[idNguyenLieu] [int] NOT NULL,
	[SoLuongSuDung] [decimal](18, 2) NOT NULL,
	[idDonViSuDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSanPham] ASC,
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViChuyenDoi]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViChuyenDoi](
	[idChuyenDoi] [int] IDENTITY(1,1) NOT NULL,
	[idNguyenLieu] [int] NOT NULL,
	[TenDonVi] [nvarchar](50) NOT NULL,
	[GiaTriQuyDoi] [decimal](18, 6) NOT NULL,
	[LaDonViCoBan] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idChuyenDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonXinNghi]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonXinNghi](
	[idDonXinNghi] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[LoaiDon] [nvarchar](100) NOT NULL,
	[LyDo] [nvarchar](500) NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[idNguoiDuyet] [int] NULL,
	[NgayDuyet] [datetime] NULL,
	[GhiChuPheDuyet] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDonXinNghi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichThanhToan]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichThanhToan](
	[idGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[idHoaDon] [int] NOT NULL,
	[MaGiaoDichNgoai] [nvarchar](100) NOT NULL,
	[CongThanhToan] [nvarchar](50) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[ThoiGianGiaoDich] [datetime] NULL,
	[TrangThai] [nvarchar](100) NOT NULL,
	[MaLoi] [nvarchar](50) NULL,
	[MoTaLoi] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[idHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[idBan] [int] NULL,
	[idNhanVien] [int] NULL,
	[idKhachHang] [int] NULL,
	[thoiGianTao] [datetime] NULL,
	[thoiGianThanhToan] [datetime] NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[tongTienGoc] [decimal](18, 2) NULL,
	[giamGia] [decimal](18, 2) NULL,
	[TongPhuThu] [decimal](18, 2) NULL,
	[thanhTien]  AS (([tongTienGoc]-[giamGia])+[TongPhuThu]),
	[phuongThucThanhToan] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](max) NULL,
	[LoaiHoaDon] [nvarchar](50) NOT NULL,
	[TrangThaiGiaoHang] [nvarchar](100) NULL,
	[DiaChiGiaoHang] [nvarchar](500) NULL,
	[SoDienThoaiGiaoHang] [nvarchar](20) NULL,
	[idNguoiGiaoHang] [int] NULL,
	[MaGiaoDichVNPay] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon_KhuyenMai]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon_KhuyenMai](
	[idHoaDon] [int] NOT NULL,
	[idKhuyenMai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC,
	[idKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[idKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[diaChi] [nvarchar](500) NULL,
	[diemTichLuy] [int] NULL,
	[tenDangNhap] [nvarchar](100) NULL,
	[matKhau] [nvarchar](255) NULL,
	[ngayTao] [datetime] NULL,
	[BiKhoa] [bit] NOT NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[taiKhoanTam] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[idKhuVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuVuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[idKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[maKhuyenMai] [nvarchar](50) NOT NULL,
	[tenChuongTrinh] [nvarchar](255) NOT NULL,
	[moTa] [ntext] NULL,
	[loaiGiamGia] [nvarchar](20) NOT NULL,
	[giaTriGiam] [decimal](18, 2) NOT NULL,
	[ngayBatDau] [datetime] NOT NULL,
	[ngayKetThuc] [datetime] NOT NULL,
	[dieuKienApDung] [nvarchar](500) NULL,
	[soLuongConLai] [int] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GiamToiDa] [decimal](18, 2) NULL,
	[IdSanPhamApDung] [int] NULL,
	[HoaDonToiThieu] [decimal](18, 2) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[NgayTrongTuan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViec]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViec](
	[idLichLamViec] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[idCa] [int] NOT NULL,
	[ngayLam] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLichLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiGiaoHang]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiGiaoHang](
	[idNguoiGiaoHang] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiGiaoHang] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNguoiGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[idNguyenLieu] [int] IDENTITY(1,1) NOT NULL,
	[tenNguyenLieu] [nvarchar](255) NOT NULL,
	[donViTinh] [nvarchar](50) NOT NULL,
	[tonKho] [decimal](18, 2) NOT NULL,
	[TonKhoToiThieu] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[idNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[tenNhaCungCap] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[diaChi] [nvarchar](500) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[idNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[diaChi] [nvarchar](500) NULL,
	[ngayVaoLam] [date] NOT NULL,
	[idVaiTro] [int] NOT NULL,
	[luongCoBan] [decimal](18, 2) NULL,
	[trangThaiLamViec] [nvarchar](50) NOT NULL,
	[tenDangNhap] [nvarchar](100) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHuyMon]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHuyMon](
	[idNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[idHoaDon] [int] NOT NULL,
	[idSanPham] [int] NOT NULL,
	[SoLuongHuy] [int] NOT NULL,
	[LyDo] [nvarchar](255) NOT NULL,
	[idNhanVienHuy] [int] NOT NULL,
	[ThoiGianHuy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[idNhaXuatBan] [int] IDENTITY(1,1) NOT NULL,
	[tenNhaXuatBan] [nvarchar](255) NOT NULL,
	[MoTa] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhaXuatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoiDanhGia]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoiDanhGia](
	[idPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[idDanhGia] [int] NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_PhanHoiDanhGia] PRIMARY KEY CLUSTERED 
(
	[idPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatBan]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatBan](
	[idPhieuDatBan] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NULL,
	[idBan] [int] NOT NULL,
	[hoTenKhach] [nvarchar](100) NULL,
	[sdtKhach] [nvarchar](20) NULL,
	[thoiGianDat] [datetime] NOT NULL,
	[soLuongKhach] [int] NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuDatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKiemKho]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKiemKho](
	[idPhieuKiemKho] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVienKiem] [int] NOT NULL,
	[NgayKiem] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuKiemKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuLuong]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuLuong](
	[idPhieuLuong] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
	[luongCoBan] [decimal](18, 2) NOT NULL,
	[tongGioLam] [decimal](18, 2) NOT NULL,
	[tienThuong] [decimal](18, 2) NULL,
	[khauTru] [decimal](18, 2) NULL,
	[thucLanh] [decimal](18, 2) NOT NULL,
	[ngayTao] [datetime] NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[NgayPhatLuong] [datetime] NULL,
	[IdNguoiPhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[idPhieuNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[idNhaCungCap] [int] NULL,
	[idNhanVien] [int] NOT NULL,
	[ngayNhap] [datetime] NULL,
	[tongTien] [decimal](18, 2) NULL,
	[ghiChu] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThueSach]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThueSach](
	[idPhieuThueSach] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[idNhanVien] [int] NULL,
	[ngayThue] [datetime] NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[tongTienCoc] [decimal](18, 2) NULL,
	[DiaChiGiaoHang] [nvarchar](500) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuThueSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuongPhat]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuongPhat](
	[idPhieuThuongPhat] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[idNguoiTao] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[LyDo] [nvarchar](500) NOT NULL,
	[idPhieuLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuThuongPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTraSach]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTraSach](
	[IdPhieuTra] [int] IDENTITY(1,1) NOT NULL,
	[IdPhieuThueSach] [int] NOT NULL,
	[IdNhanVien] [int] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[TongPhiThue] [decimal](18, 2) NOT NULL,
	[TongTienPhat] [decimal](18, 2) NOT NULL,
	[TongTienCocHoan] [decimal](18, 2) NOT NULL,
	[DiemTichLuy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatHuy]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatHuy](
	[idPhieuXuatHuy] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVienXuat] [int] NOT NULL,
	[NgayXuatHuy] [datetime] NULL,
	[LyDoXuatHuy] [nvarchar](500) NOT NULL,
	[TongGiaTriHuy] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuXuatHuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuThu]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuThu](
	[idPhuThu] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuThu] [nvarchar](100) NOT NULL,
	[GiaTri] [decimal](18, 2) NOT NULL,
	[LoaiGiaTri] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[idQuyen] [nvarchar](100) NOT NULL,
	[TenQuyen] [nvarchar](255) NOT NULL,
	[NhomQuyen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[idSach] [int] IDENTITY(1,1) NOT NULL,
	[tenSach] [nvarchar](500) NOT NULL,
	[namXuatBan] [int] NULL,
	[moTa] [ntext] NULL,
	[soLuongTong] [int] NOT NULL,
	[soLuongHienCo] [int] NOT NULL,
	[AnhBia] [nvarchar](max) NULL,
	[GiaBia] [decimal](18, 2) NULL,
	[ViTri] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach_NhaXuatBan]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_NhaXuatBan](
	[idSach] [int] NOT NULL,
	[idNhaXuatBan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSach] ASC,
	[idNhaXuatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach_TacGia]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TacGia](
	[idSach] [int] NOT NULL,
	[idTacGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSach] ASC,
	[idTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach_TheLoai]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TheLoai](
	[idSach] [int] NOT NULL,
	[idTheLoai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSach] ASC,
	[idTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[idSanPham] [int] IDENTITY(1,1) NOT NULL,
	[tenSanPham] [nvarchar](255) NOT NULL,
	[idDanhMuc] [int] NOT NULL,
	[giaBan] [decimal](18, 2) NOT NULL,
	[moTa] [ntext] NULL,
	[trangThaiKinhDoanh] [bit] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[NhomIn] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[idTacGia] [int] IDENTITY(1,1) NOT NULL,
	[tenTacGia] [nvarchar](255) NOT NULL,
	[gioiThieu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[idTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[tenTheLoai] [nvarchar](255) NOT NULL,
	[MoTa] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[idThongBao] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVienTao] [int] NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[LoaiThongBao] [nvarchar](50) NULL,
	[IdLienQuan] [int] NULL,
	[DaXem] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaoHoTro]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaoHoTro](
	[IdThongBao] [int] IDENTITY(1,1) NOT NULL,
	[IdKhachHang] [int] NULL,
	[NoiDungYeuCau] [nvarchar](max) NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[IdNhanVien] [int] NULL,
	[ThoiGianPhanHoi] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[GuestSessionId] [nvarchar](100) NULL,
 CONSTRAINT [PK_ThongBaoHoTro] PRIMARY KEY CLUSTERED 
(
	[IdThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiCheBien]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiCheBien](
	[IdTrangThaiCheBien] [int] IDENTITY(1,1) NOT NULL,
	[IdChiTietHoaDon] [int] NOT NULL,
	[IdHoaDon] [int] NOT NULL,
	[IdSanPham] [int] NOT NULL,
	[TenMon] [nvarchar](255) NOT NULL,
	[SoBan] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NhomIn] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[ThoiGianGoi] [datetime] NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianHoanThanh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTrangThaiCheBien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[idVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[tenVaiTro] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro_Quyen]    Script Date: 07/04/2026 12:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro_Quyen](
	[idVaiTro] [int] NOT NULL,
	[idQuyen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVaiTro] ASC,
	[idQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaiDat] ([tenCaiDat], [giaTri], [moTa]) VALUES (N'AI_Chat_API_Key', N'AIzaSyBlomT_JUMnIer7akPKWxZE1EW_XNMs--c', N'API Key cho dịch vụ (OpenAI, Gemini...)')
INSERT [dbo].[CaiDat] ([tenCaiDat], [giaTri], [moTa]) VALUES (N'AI_Chat_Endpoint', N'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent', N'Endpoint của dịch vụ AI Chat')
INSERT [dbo].[CaiDat] ([tenCaiDat], [giaTri], [moTa]) VALUES (N'DiaChi', N'08 Hà Văn Tín, P. Hòa Khánh Nam, Q. Liên Chiểu, TP. Đà Nẵng', N'Địa chỉ in trên hóa đơn')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GiaoDich_MaGiaoDichNgoai]    Script Date: 07/04/2026 12:34:36 ******/
CREATE NONCLUSTERED INDEX [IX_GiaoDich_MaGiaoDichNgoai] ON [dbo].[GiaoDichThanhToan]
(
	[MaGiaoDichNgoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__06ACB9A2902DD493]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__59267D4A72896DFC]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__AB6E6164FC5D9B55]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__87BEDDE8024421EE]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__LichLamV__0FAA765EAA089DDD]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[LichLamViec] ADD UNIQUE NONCLUSTERED 
(
	[idNhanVien] ASC,
	[ngayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiGia__0389B7BDC795A3C8]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[NguoiGiaoHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__06ACB9A2F2A8C5AC]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__59267D4A3B260AA7]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__AB6E6164FB7EE068]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PhieuLuo__A511118F2EF4F37D]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[PhieuLuong] ADD UNIQUE NONCLUSTERED 
(
	[idNhanVien] ASC,
	[thang] ASC,
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TrangThaiCheBien_TrangThai]    Script Date: 07/04/2026 12:34:36 ******/
CREATE NONCLUSTERED INDEX [IX_TrangThaiCheBien_TrangThai] ON [dbo].[TrangThaiCheBien]
(
	[TrangThai] ASC,
	[NhomIn] ASC
)
INCLUDE([ThoiGianGoi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VaiTro__BDF7AFDF04E50B66]    Script Date: 07/04/2026 12:34:36 ******/
ALTER TABLE [dbo].[VaiTro] ADD UNIQUE NONCLUSTERED 
(
	[tenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT ((2)) FOR [soGhe]
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT (N'Trống') FOR [trangThai]
GO
ALTER TABLE [dbo].[ChatLichSu] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] ADD  DEFAULT ((0)) FOR [TienPhatTraTre]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (N'Hiển thị') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DeXuatSach] ADD  DEFAULT ((0)) FOR [DoLienQuan]
GO
ALTER TABLE [dbo].[DeXuatSanPham] ADD  DEFAULT ((0)) FOR [DoLienQuan]
GO
ALTER TABLE [dbo].[DonViChuyenDoi] ADD  DEFAULT ((0)) FOR [LaDonViCoBan]
GO
ALTER TABLE [dbo].[DonXinNghi] ADD  DEFAULT (N'Chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] ADD  DEFAULT (getdate()) FOR [ThoiGianGiaoDich]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [thoiGianTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [trangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTienGoc]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [giamGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongPhuThu]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Tại quán') FOR [LoaiHoaDon]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [BiKhoa]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [taiKhoanTam]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiGiaoHang] ADD  DEFAULT (N'Sẵn sàng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [tonKho]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [TonKhoToiThieu]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((0)) FOR [luongCoBan]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm việc') FOR [trangThaiLamViec]
GO
ALTER TABLE [dbo].[NhatKyHuyMon] ADD  DEFAULT (getdate()) FOR [ThoiGianHuy]
GO
ALTER TABLE [dbo].[PhanHoiDanhGia] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuDatBan] ADD  DEFAULT (N'Đã xác nhận') FOR [trangThai]
GO
ALTER TABLE [dbo].[PhieuKiemKho] ADD  DEFAULT (getdate()) FOR [NgayKiem]
GO
ALTER TABLE [dbo].[PhieuKiemKho] ADD  DEFAULT (N'Đang kiểm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuLuong] ADD  DEFAULT ((0)) FOR [tienThuong]
GO
ALTER TABLE [dbo].[PhieuLuong] ADD  DEFAULT ((0)) FOR [khauTru]
GO
ALTER TABLE [dbo].[PhieuLuong] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[PhieuLuong] ADD  DEFAULT (N'Chưa thanh toán') FOR [trangThai]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (getdate()) FOR [ngayNhap]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (N'Đã hoàn thành') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuThueSach] ADD  DEFAULT (getdate()) FOR [ngayThue]
GO
ALTER TABLE [dbo].[PhieuThueSach] ADD  DEFAULT (N'Đang thuê') FOR [trangThai]
GO
ALTER TABLE [dbo].[PhieuThueSach] ADD  DEFAULT ((0)) FOR [tongTienCoc]
GO
ALTER TABLE [dbo].[PhieuThuongPhat] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuXuatHuy] ADD  DEFAULT (getdate()) FOR [NgayXuatHuy]
GO
ALTER TABLE [dbo].[PhieuXuatHuy] ADD  DEFAULT ((0)) FOR [TongGiaTriHuy]
GO
ALTER TABLE [dbo].[PhuThu] ADD  DEFAULT ('VND') FOR [LoaiGiaTri]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((1)) FOR [soLuongTong]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((1)) FOR [soLuongHienCo]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [GiaBia]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [trangThaiKinhDoanh]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaXem]
GO
ALTER TABLE [dbo].[ThongBaoHoTro] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[ThongBaoHoTro] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TrangThaiCheBien] ADD  DEFAULT (N'Chờ làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TrangThaiCheBien] ADD  DEFAULT (getdate()) FOR [ThoiGianGoi]
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_KhuVuc] FOREIGN KEY([idKhuVuc])
REFERENCES [dbo].[KhuVuc] ([idKhuVuc])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_KhuVuc]
GO
ALTER TABLE [dbo].[BangChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_LichLamViec] FOREIGN KEY([idLichLamViec])
REFERENCES [dbo].[LichLamViec] ([idLichLamViec])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BangChamCong] CHECK CONSTRAINT [FK_ChamCong_LichLamViec]
GO
ALTER TABLE [dbo].[ChatLichSu]  WITH CHECK ADD  CONSTRAINT [FK_ChatLichSu_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[ChatLichSu] CHECK CONSTRAINT [FK_ChatLichSu_KhachHang]
GO
ALTER TABLE [dbo].[ChatLichSu]  WITH CHECK ADD  CONSTRAINT [FK_ChatLichSu_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[ChatLichSu] CHECK CONSTRAINT [FK_ChatLichSu_NhanVien]
GO
ALTER TABLE [dbo].[ChatLichSu]  WITH CHECK ADD  CONSTRAINT [FK_ChatLichSu_ThongBaoHoTro] FOREIGN KEY([IdThongBaoHoTro])
REFERENCES [dbo].[ThongBaoHoTro] ([IdThongBao])
GO
ALTER TABLE [dbo].[ChatLichSu] CHECK CONSTRAINT [FK_ChatLichSu_ThongBaoHoTro]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietKiemKho]  WITH CHECK ADD  CONSTRAINT [FK_CTKK_NguyenLieu] FOREIGN KEY([idNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([idNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietKiemKho] CHECK CONSTRAINT [FK_CTKK_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietKiemKho]  WITH CHECK ADD  CONSTRAINT [FK_CTKK_PhieuKiemKho] FOREIGN KEY([idPhieuKiemKho])
REFERENCES [dbo].[PhieuKiemKho] ([idPhieuKiemKho])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietKiemKho] CHECK CONSTRAINT [FK_CTKK_PhieuKiemKho]
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_NguyenLieu] FOREIGN KEY([idNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([idNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_PhieuNhapKho] FOREIGN KEY([idPhieuNhapKho])
REFERENCES [dbo].[PhieuNhapKho] ([idPhieuNhapKho])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_PhieuNhapKho]
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThue_Phieu] FOREIGN KEY([idPhieuThueSach])
REFERENCES [dbo].[PhieuThueSach] ([idPhieuThueSach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] CHECK CONSTRAINT [FK_ChiTietThue_Phieu]
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThue_Sach] FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] CHECK CONSTRAINT [FK_ChiTietThue_Sach]
GO
ALTER TABLE [dbo].[ChiTietPhieuTra]  WITH CHECK ADD FOREIGN KEY([IdPhieuTra])
REFERENCES [dbo].[PhieuTraSach] ([IdPhieuTra])
GO
ALTER TABLE [dbo].[ChiTietPhieuTra]  WITH CHECK ADD FOREIGN KEY([IdSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[ChiTietPhuThuHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTPT_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhuThuHoaDon] CHECK CONSTRAINT [FK_CTPT_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietPhuThuHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTPT_PhuThu] FOREIGN KEY([idPhuThu])
REFERENCES [dbo].[PhuThu] ([idPhuThu])
GO
ALTER TABLE [dbo].[ChiTietPhuThuHoaDon] CHECK CONSTRAINT [FK_CTPT_PhuThu]
GO
ALTER TABLE [dbo].[ChiTietXuatHuy]  WITH NOCHECK ADD  CONSTRAINT [FK_CTXH_NguyenLieu] FOREIGN KEY([idNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([idNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietXuatHuy] CHECK CONSTRAINT [FK_CTXH_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietXuatHuy]  WITH NOCHECK ADD  CONSTRAINT [FK_CTXH_PhieuXuatHuy] FOREIGN KEY([idPhieuXuatHuy])
REFERENCES [dbo].[PhieuXuatHuy] ([idPhieuXuatHuy])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietXuatHuy] CHECK CONSTRAINT [FK_CTXH_PhieuXuatHuy]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_HoaDon]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_SanPham]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_DanhMucCha] FOREIGN KEY([idDanhMucCha])
REFERENCES [dbo].[DanhMuc] ([idDanhMuc])
GO
ALTER TABLE [dbo].[DanhMuc] CHECK CONSTRAINT [FK_DanhMuc_DanhMucCha]
GO
ALTER TABLE [dbo].[DeXuatSach]  WITH CHECK ADD  CONSTRAINT [FK_DeXuatSach_DeXuat] FOREIGN KEY([idSachDeXuat])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[DeXuatSach] CHECK CONSTRAINT [FK_DeXuatSach_DeXuat]
GO
ALTER TABLE [dbo].[DeXuatSach]  WITH CHECK ADD  CONSTRAINT [FK_DeXuatSach_Goc] FOREIGN KEY([idSachGoc])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[DeXuatSach] CHECK CONSTRAINT [FK_DeXuatSach_Goc]
GO
ALTER TABLE [dbo].[DeXuatSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DeXuatSP_DeXuat] FOREIGN KEY([idSanPhamDeXuat])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[DeXuatSanPham] CHECK CONSTRAINT [FK_DeXuatSP_DeXuat]
GO
ALTER TABLE [dbo].[DeXuatSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DeXuatSP_Goc] FOREIGN KEY([idSanPhamGoc])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[DeXuatSanPham] CHECK CONSTRAINT [FK_DeXuatSP_Goc]
GO
ALTER TABLE [dbo].[DinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_DinhLuong_DonViChuyenDoi] FOREIGN KEY([idDonViSuDung])
REFERENCES [dbo].[DonViChuyenDoi] ([idChuyenDoi])
GO
ALTER TABLE [dbo].[DinhLuong] CHECK CONSTRAINT [FK_DinhLuong_DonViChuyenDoi]
GO
ALTER TABLE [dbo].[DinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_DinhLuong_NguyenLieu] FOREIGN KEY([idNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([idNguyenLieu])
GO
ALTER TABLE [dbo].[DinhLuong] CHECK CONSTRAINT [FK_DinhLuong_NguyenLieu]
GO
ALTER TABLE [dbo].[DinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_DinhLuong_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DinhLuong] CHECK CONSTRAINT [FK_DinhLuong_SanPham]
GO
ALTER TABLE [dbo].[DonViChuyenDoi]  WITH CHECK ADD  CONSTRAINT [FK_DonViChuyenDoi_NguyenLieu] FOREIGN KEY([idNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([idNguyenLieu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonViChuyenDoi] CHECK CONSTRAINT [FK_DonViChuyenDoi_NguyenLieu]
GO
ALTER TABLE [dbo].[DonXinNghi]  WITH CHECK ADD  CONSTRAINT [FK_DonXinNghi_NguoiDuyet] FOREIGN KEY([idNguoiDuyet])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[DonXinNghi] CHECK CONSTRAINT [FK_DonXinNghi_NguoiDuyet]
GO
ALTER TABLE [dbo].[DonXinNghi]  WITH CHECK ADD  CONSTRAINT [FK_DonXinNghi_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[DonXinNghi] CHECK CONSTRAINT [FK_DonXinNghi_NhanVien]
GO
ALTER TABLE [dbo].[GiaoDichThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDich_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
GO
ALTER TABLE [dbo].[GiaoDichThanhToan] CHECK CONSTRAINT [FK_GiaoDich_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([idBan])
REFERENCES [dbo].[Ban] ([idBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NguoiGiaoHang] FOREIGN KEY([idNguoiGiaoHang])
REFERENCES [dbo].[NguoiGiaoHang] ([idNguoiGiaoHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NguoiGiaoHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon_KhuyenMai]  WITH NOCHECK ADD  CONSTRAINT [FK_HDKM_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
GO
ALTER TABLE [dbo].[HoaDon_KhuyenMai] CHECK CONSTRAINT [FK_HDKM_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon_KhuyenMai]  WITH NOCHECK ADD  CONSTRAINT [FK_HDKM_KhuyenMai] FOREIGN KEY([idKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([idKhuyenMai])
GO
ALTER TABLE [dbo].[HoaDon_KhuyenMai] CHECK CONSTRAINT [FK_HDKM_KhuyenMai]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_SanPham] FOREIGN KEY([IdSanPhamApDung])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_SanPham]
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViec_CaLamViec] FOREIGN KEY([idCa])
REFERENCES [dbo].[CaLamViec] ([idCa])
GO
ALTER TABLE [dbo].[LichLamViec] CHECK CONSTRAINT [FK_LichLamViec_CaLamViec]
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViec_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[LichLamViec] CHECK CONSTRAINT [FK_LichLamViec_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_VaiTro] FOREIGN KEY([idVaiTro])
REFERENCES [dbo].[VaiTro] ([idVaiTro])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_VaiTro]
GO
ALTER TABLE [dbo].[NhatKyHuyMon]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyHuyMon_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
GO
ALTER TABLE [dbo].[NhatKyHuyMon] CHECK CONSTRAINT [FK_NhatKyHuyMon_HoaDon]
GO
ALTER TABLE [dbo].[NhatKyHuyMon]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyHuyMon_NhanVien] FOREIGN KEY([idNhanVienHuy])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[NhatKyHuyMon] CHECK CONSTRAINT [FK_NhatKyHuyMon_NhanVien]
GO
ALTER TABLE [dbo].[NhatKyHuyMon]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyHuyMon_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[NhatKyHuyMon] CHECK CONSTRAINT [FK_NhatKyHuyMon_SanPham]
GO
ALTER TABLE [dbo].[PhanHoiDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoiDanhGia_DanhGia] FOREIGN KEY([idDanhGia])
REFERENCES [dbo].[DanhGia] ([idDanhGia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoiDanhGia] CHECK CONSTRAINT [FK_PhanHoiDanhGia_DanhGia]
GO
ALTER TABLE [dbo].[PhanHoiDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoiDanhGia_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhanHoiDanhGia] CHECK CONSTRAINT [FK_PhanHoiDanhGia_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDatBan]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuDatBan_Ban] FOREIGN KEY([idBan])
REFERENCES [dbo].[Ban] ([idBan])
GO
ALTER TABLE [dbo].[PhieuDatBan] CHECK CONSTRAINT [FK_PhieuDatBan_Ban]
GO
ALTER TABLE [dbo].[PhieuDatBan]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuDatBan_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatBan] CHECK CONSTRAINT [FK_PhieuDatBan_KhachHang]
GO
ALTER TABLE [dbo].[PhieuKiemKho]  WITH CHECK ADD  CONSTRAINT [FK_PKK_NhanVien] FOREIGN KEY([idNhanVienKiem])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuKiemKho] CHECK CONSTRAINT [FK_PKK_NhanVien]
GO
ALTER TABLE [dbo].[PhieuLuong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuLuong_NguoiPhat] FOREIGN KEY([IdNguoiPhat])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuLuong] CHECK CONSTRAINT [FK_PhieuLuong_NguoiPhat]
GO
ALTER TABLE [dbo].[PhieuLuong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuLuong_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuLuong] CHECK CONSTRAINT [FK_PhieuLuong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKho_NhaCungCap] FOREIGN KEY([idNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([idNhaCungCap])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhapKho_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKho_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhapKho_NhanVien]
GO
ALTER TABLE [dbo].[PhieuThueSach]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThueSach_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[PhieuThueSach] CHECK CONSTRAINT [FK_PhieuThueSach_KhachHang]
GO
ALTER TABLE [dbo].[PhieuThueSach]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThueSach_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuThueSach] CHECK CONSTRAINT [FK_PhieuThueSach_NhanVien]
GO
ALTER TABLE [dbo].[PhieuThuongPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuongPhat_NguoiTao] FOREIGN KEY([idNguoiTao])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuThuongPhat] CHECK CONSTRAINT [FK_PhieuThuongPhat_NguoiTao]
GO
ALTER TABLE [dbo].[PhieuThuongPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuongPhat_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuThuongPhat] CHECK CONSTRAINT [FK_PhieuThuongPhat_NhanVien]
GO
ALTER TABLE [dbo].[PhieuThuongPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuongPhat_PhieuLuong] FOREIGN KEY([idPhieuLuong])
REFERENCES [dbo].[PhieuLuong] ([idPhieuLuong])
GO
ALTER TABLE [dbo].[PhieuThuongPhat] CHECK CONSTRAINT [FK_PhieuThuongPhat_PhieuLuong]
GO
ALTER TABLE [dbo].[PhieuTraSach]  WITH CHECK ADD FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuTraSach]  WITH CHECK ADD FOREIGN KEY([IdPhieuThueSach])
REFERENCES [dbo].[PhieuThueSach] ([idPhieuThueSach])
GO
ALTER TABLE [dbo].[PhieuXuatHuy]  WITH CHECK ADD  CONSTRAINT [FK_PXH_NhanVien] FOREIGN KEY([idNhanVienXuat])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuXuatHuy] CHECK CONSTRAINT [FK_PXH_NhanVien]
GO
ALTER TABLE [dbo].[Sach_NhaXuatBan]  WITH CHECK ADD FOREIGN KEY([idNhaXuatBan])
REFERENCES [dbo].[NhaXuatBan] ([idNhaXuatBan])
GO
ALTER TABLE [dbo].[Sach_NhaXuatBan]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD FOREIGN KEY([idTacGia])
REFERENCES [dbo].[TacGia] ([idTacGia])
GO
ALTER TABLE [dbo].[Sach_TheLoai]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[Sach_TheLoai]  WITH CHECK ADD FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[TheLoai] ([idTheLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([idDanhMuc])
REFERENCES [dbo].[DanhMuc] ([idDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_NhanVien] FOREIGN KEY([idNhanVienTao])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_NhanVien]
GO
ALTER TABLE [dbo].[ThongBaoHoTro]  WITH CHECK ADD  CONSTRAINT [FK_ThongBaoHoTro_KhachHang] FOREIGN KEY([IdKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[ThongBaoHoTro] CHECK CONSTRAINT [FK_ThongBaoHoTro_KhachHang]
GO
ALTER TABLE [dbo].[ThongBaoHoTro]  WITH CHECK ADD  CONSTRAINT [FK_ThongBaoHoTro_NhanVien] FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[ThongBaoHoTro] CHECK CONSTRAINT [FK_ThongBaoHoTro_NhanVien]
GO
ALTER TABLE [dbo].[TrangThaiCheBien]  WITH CHECK ADD  CONSTRAINT [FK_TrangThaiCheBien_ChiTietHoaDon] FOREIGN KEY([IdChiTietHoaDon])
REFERENCES [dbo].[ChiTietHoaDon] ([idChiTietHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrangThaiCheBien] CHECK CONSTRAINT [FK_TrangThaiCheBien_ChiTietHoaDon]
GO
ALTER TABLE [dbo].[TrangThaiCheBien]  WITH CHECK ADD  CONSTRAINT [FK_TrangThaiCheBien_HoaDon] FOREIGN KEY([IdHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
GO
ALTER TABLE [dbo].[TrangThaiCheBien] CHECK CONSTRAINT [FK_TrangThaiCheBien_HoaDon]
GO
ALTER TABLE [dbo].[TrangThaiCheBien]  WITH CHECK ADD  CONSTRAINT [FK_TrangThaiCheBien_SanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[TrangThaiCheBien] CHECK CONSTRAINT [FK_TrangThaiCheBien_SanPham]
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_VTQ_Quyen] FOREIGN KEY([idQuyen])
REFERENCES [dbo].[Quyen] ([idQuyen])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VaiTro_Quyen] CHECK CONSTRAINT [FK_VTQ_Quyen]
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_VTQ_VaiTro] FOREIGN KEY([idVaiTro])
REFERENCES [dbo].[VaiTro] ([idVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VaiTro_Quyen] CHECK CONSTRAINT [FK_VTQ_VaiTro]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [CK_DanhGia_TrangThai] CHECK  (([TrangThai]=N'Đã ẩn' OR [TrangThai]=N'Hiển thị'))
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [CK_DanhGia_TrangThai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([LoaiHoaDon]=N'Giao hàng' OR [LoaiHoaDon]=N'Mang về' OR [LoaiHoaDon]=N'Tại quán'))
GO
USE [master]
GO
